<div class="total">
    <h3 class="heading_public">Public Recipes</h3>
    <ul class="state">
      <% @public_recipes.each do |recipe| %>
        <li class="link">
          <div class="play">
            <div>
              <%= link_to recipe.name, recipe_path(recipe) %>
            </div>
            <span>By: <%= recipe.user.name %></span>
          </div>
          <div class="play">
            <div>
              <span>Total food items: </span>

 <span><%= recipe.foods_counter %></span> 
            </div>
            <div class="play">
              <span>Total price:</span>
 
 <span><%= recipe.foods_total_price %></span> 
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>